{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

 <form method="GET" action= '{{url_for('entries')}}'>
    Entries per page: 
    <select class = "form-control" max=50 name = "limit" id="limit" onchange='this.form.submit()'>
        <option {% if limit==5 %} selected {% endif %} value = "5">5</option>
        <option {% if limit==10 %} selected {% endif %} value ="10">10</option>
        <option {% if limit==15 %} selected {% endif %} value = "15">15</option>
        <option value = "20">20</option>
    </select>
</form> 

{% for entry in entries %}
{{ macros.render_entry(entry) }}
{% endfor %}

<ul class="pager">
    {% if has_next %}
    <li class="previous" >
    <a href="{{ url_for('entries', page=page + 1) }}">&larr; Older</a>
    </li>
    {% endif %}
    {% if has_prev %}
    <li class="next">
    <a href="{{ url_for('entries', page=page - 1) }}">&rarr; Newer</a>
    </li>
    {% endif %}
</ul>

{% endblock %}