{% import "macros.html" as macros %}
{% extends "entries.html" %}
{% block content %}

<div class="row">
    <div class="col-md-2 text-right metadata">
        <ul class="list-unstyled">
            {{ entry.datetime }}
        </ul>
    </div>
    <div class="col-md-10">
        <h1>
           {{ entry.title }}
        </h1>
        <button class="btn btn-default"><a style="color:black; color:hover:black;" href="/entry/{{ entry.id }}/edit">Edit</a></button> 
        {{ entry.content }}
    </div>
</div>

<div>
    <button><a href="/entry/{{ entry.id }}/delete">Delete</a></button>
</div>

{% endblock %}


